<div class="ability flexrow flex-group-center">
  <label for="system.abilities.{{key}}.value"
    class="resource-label stat flexlarge align-left"
    data-label="{{ability.label}}"
    style="min-width: 80px;">{{ability.label}}</label>
  <select name="system.abilities.{{key}}.max" class="ability-die">
    {{#if (eq ability.max 6)}}
    <option value="6" selected="selected">d6</option>
    {{else}}
    <option value="6">d6</option>
    {{/if}}
    {{#if (eq ability.max 8)}}
    <option value="8" selected="selected">d8</option>
    {{else}}
    <option value="8">d8</option>
    {{/if}}
    {{#if (eq ability.max 10)}}
    <option value="10" selected="selected">d10</option>
    {{else}}
    <option value="10">d10</option>
    {{/if}}
    {{#if (eq ability.max 12)}}
    <option value="12" selected="selected">d12</option>
    {{else}}
    <option value="12">d12</option>
    {{/if}}
  </select>
  <input readonly type="text" name="system.abilities.{{key}}.value" value="d{{ability.value}}" data-dtype="String" class="ability-die"/>
</div>