<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="190" width="190"/>
    <div class="header-fields">
      <div class="resources grid grid-8col" style="max-width: 600px;">
        <div class="resource grid-span-4 flex-group-left">
          <h2 class="charname" style="border: none"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2>

          <div class="resource-content flexrow flex-center flex-between" style="max-width: 275px;">
            <label for="system.health.value" class="resource-label" style="max-width: 50px;">{{localize "FABULAULTIMA.HealthAbbr"}}</label>
            <input class="points-input-right" type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">/</span>
            <input class="points-input-right" type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 15px; margin-right: 15px; display: flex; align-items: center; font-size: 15pt;">♦️</span>
            <span class="points-crisis" style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">{{system.crisisHealth}}</span>
            <span class="resource-label">{{localize "FABULAULTIMA.Crisis"}}</span>
          </div>

          <div class="resource-content flexrow flex-center flex-between" style="max-width: 156px;">
            <label for="system.mind.value" class="resource-label">{{localize "FABULAULTIMA.MindAbbr"}}</label>
            <input class="points-input-right" type="text" name="system.mind.value" value="{{system.mind.value}}" data-dtype="Number"/>
            <span style="flex: 0; margin-left: 5px; margin-right: 5px; display: flex; align-items: center;">/</span>
            <input class="points-input-right" type="text" name="system.mind.max" value="{{system.mind.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource grid-span-4 flex-group-left">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.attributes.level.value" class="resource-label"
              style="max-width: 50px;">{{localize "FABULAULTIMA.LevelAbbr"}}</label>
            <input type="text" name="system.attributes.level.value"
              value="{{system.attributes.level.value}}" data-dtype="Number" />

            <label for="system.type" class="resource-label"
              style="max-width: 50px;">{{localize "FABULAULTIMA.Type"}}</label>
            <input type="text" name="system.type"
              value="{{system.type}}" />
          </div>

          <br>
          <div class="ultimapoints flexrow">
            <label for="system.ultimaPoints" class="resource-label" style="min-width: 110px;">
              {{localize "FABULAULTIMA.UltimaPoints"}}
            </label>
            <input name="system.ultimaPoints" type="text" value="{{system.ultimaPoints}}" data-dtype="Number"/>
          </div>
          <div class="ascension flexrow">
            <label for="system.ascensionLevel" class="resource-label" style="min-width: 110px;">
              {{localize "FABULAULTIMA.Escalation"}}
            </label>
            <select name="system.ascensionLevel">
              {{> "systems/fabulaultima/templates/actor/parts/select-option.html" value="minor" current=ascensionLevel localKey="FABULAULTIMA.EscMinor"}}
              {{> "systems/fabulaultima/templates/actor/parts/select-option.html" value="major" current=ascensionLevel localKey="FABULAULTIMA.EscMajor"}}
              {{> "systems/fabulaultima/templates/actor/parts/select-option.html" value="supreme" current=ascensionLevel localKey="FABULAULTIMA.EscSupreme"}}
            </select>
          </div>
        </div>

        <hr class="grid-span-8" style="width: 100%;">

        <div class="stats grid-span-5" style="display: flex;">
          <div class="abilities flexcol">
            <div class="flexrow flex-group-right">
              <label class="resource-label">Current</label>
              <label class="resource-label">Max</label>
            </div>
            {{#each system.orderedAbilities as |ability key|}}
            {{> "systems/fabulaultima/templates/actor/parts/actor-ability.html" ability=ability key=key}}
            {{/each}}
          </div>
          <div class="statuses flexcol">
            <div class="flexrow"></div>
            {{#each system.statuses1 as |status key|}}
            <div class="ability flexrow flex-group-center">
              {{#if status.value}}
              <input type="checkbox" class="status-checkbox" name="system.status.{{key}}" data-dtype="Boolean" checked="checked"/>
              {{else}}
              <input type="checkbox" class="status-checkbox" name="system.status.{{key}}" data-dtype="Boolean"/>
              {{/if}}
              <label for="system.status.{{key}}" class="resource-label stat flexlarge align-left" data-label="{{status.label}}">{{status.label}}</label>
            </div>
            {{/each}}
          </div>
          <div class="statuses flexcol">
            <div class="flexrow"></div>
            {{#each system.statuses2 as |status key|}}
            <div class="ability flexrow flex-group-center flexlarge">
              {{#if status.value}}
              <input type="checkbox" class="status-checkbox" name="system.status.{{key}}" data-dtype="Boolean" checked="checked"/>
              {{else}}
              <input type="checkbox" class="status-checkbox" name="system.status.{{key}}" data-dtype="Boolean"/>
              {{/if}}
              <label for="system.status.{{key}}" class="resource-label stat flexlarge align-left" data-label="{{status.label}}">{{status.label}}</label>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="stats grid-span-3" style="display: flex;">
          <div class="flexcol" style="width: 100%">
            <div class="flexrow flex-group-right">
              <label class="resource-label">Bonus</label>
              <label class="resource-label">Total</label>
            </div>
            <div class="trait flexrow">
              <label for="system.defense" class="resource-label" style="flex: 0 0 120px;">{{localize "FABULAULTIMA.Defense"}}</label>
              <input name="system.defenseBonus" type="text" value="{{system.defenseBonus}}" data-dtype="Number"/>
              <input name="system.defense" type="text" value="{{system.defense}}" data-dtype="Number" readonly/>
            </div>
            <div class="trait flexrow">
              <label for="system.magicDefense" class="resource-label" style="flex: 0 0 120px;">{{localize "FABULAULTIMA.MagicDefense"}}</label>
              <input name="system.magicDefenseBonus" type="text" value="{{system.magicDefenseBonus}}" data-dtype="Number"/>
              <input name="system.magicDefense" type="text" value="{{system.magicDefense}}" data-dtype="Number" readonly/>
            </div>
            <div class="trait flexrow">
              <label for="system.initiative" class="resource-label" style="flex: 0 0 120px;">{{localize "FABULAULTIMA.Initiative"}}</label>
              <input name="system.initiative" type="text" value="{{system.initiative}}" data-dtype="Number"/>
            </div>
            <div class="flexrow flex-group-right"></div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="stats" style="width: 100%;">
    <label class="resource-label">{{localize "FABULAULTIMA.Affinities"}}</label>
    <div class="affinities flexrow">
      {{#each system.orderedAffinities as |affinity key|}}
      {{> "systems/fabulaultima/templates/actor/parts/actor-affinity.html" key=key affinity=affinity}}
      {{/each}}
    </div>
  </div>

  <hr style="width: 100%;">

  <div class="traits" style="width: 100%;">
    <label for="system.traits" class="resource-label">{{localize "FABULAULTIMA.Traits"}}</label>
    <input name="system.traits" type="text" value="{{system.traits}}"/>

    <label for="system.specialRules" class="resource-label">{{localize "FABULAULTIMA.SpecialRules"}}</label>
    <input name="system.specialRules" type="text" value="{{system.specialRules}}"/>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="items">{{localize "FABULAULTIMA.Equipment"}}</a>
    <a class="item" data-tab="effects">{{localize "FABULAULTIMA.Effects"}}</a>
    <a class="item" data-tab="description">{{localize "FABULAULTIMA.Biography"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/fabulaultima/templates/actor/parts/actor-enemy-actions.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/fabulaultima/templates/actor/parts/actor-effects.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>

