<div class="card-result dice-roll">
  <div class="dice-result">

    <h3>{{localize "FABULAULTIMA.PrecisionTest"}}</h3>
    <h4 class="dice-total {{#if isCritical}}critical{{/if}} {{#if isFumble}}fumble{{/if}} {{#if isHealth}}health-recover{{/if}} {{#if isMana}}mana-recover{{/if}}">
      {{total}} {{#if custom}}{{custom}}{{/if}}
    </h4>

    <div class="dice-tooltip" style="display: none;">
      <div class="dice-formula">{{formula}}</div>
      {{#if dice.length}}
      <section class="tooltip-part">
        <div class="dice">
          <ol class="dice-rolls">
            {{#each dice as |die id|}}
            {{#each die.results as |result id|}}
            <li class="roll die d{{die.faces}} {{#if result.discarded}}discarded{{/if}} {{#if (eq result.result 1)}}min{{/if}} {{#if (eq result.result die.faces)}}max{{/if}}">
              {{result.result}}
            </li>
            {{/each}}
            {{/each}}
          </ol>
        </div>
      </section>
      {{/if}}
    </div>

    {{#if damage}}
    <h3>{{localize "FABULAULTIMA.Damage"}}</h3>
    <h4 class="dice-total {{damageType}}">
      {{damage}} {{damageTypeLoc}}
    </h4>

    <div class="dice-tooltip" style="display: none;">
      <section class="tooltip-part">
          <ol class="dice-rolls">
            {{#with damageFormula}}
            <li class="roll die d{{die.faces}} {{#if (eq die.total 1)}}min{{/if}} {{#if (eq die.total faces)}}max{{/if}}">
              {{die.total}}
            </li>
            <li class="roll bonus">
              + {{bonus}}
            </li>
            {{/with}}
          </ol>
      </section>
    </div>
    {{/if}}

    <div class="card-buttons">
      <!-- TODO fabula points usage -->
      <!-- <button data-action="XXX"> -->
    </div>
  </div>
</div>