<div class="card-result dice-roll">
  <div class="dice-result">

    <h3>{{localize "FABULAULTIMA.PrecisionTest"}}</h3>
    <h4 class="precision dice-total {{#if isCritical}}critical{{/if}} {{#if isFumble}}fumble{{/if}} {{#if isHealth}}health-recover{{/if}} {{#if isMana}}mana-recover{{/if}}">
      {{total}} {{#if custom}}{{custom}}{{/if}}
    </h4>

    <div class="dice-tooltip" style="display: none;">
      <div class="dice-formula">
        <ol class="dice-rolls flexrow">
          <li class="roll bonus">{{formula.first}}</li>
          <li class="">+</li>
          <li class="roll bonus">{{formula.second}}</li>
          {{#each formula.bonuses as |bonus id|}}
          {{#if bonus.precisionBonus}}
          <li class="">+</li>
          <li class="roll bonus" data-tooltip="{{bonus.name}}">{{bonus.precisionBonus}}</li>
          {{/if}}
          {{/each}}
        </ol>
      </div>
      {{#if dice.length}}
      <section class="tooltip-part">
        <div class="dice flexrow">
          <ol class="dice-rolls">
            {{#each dice as |die dieId|}}
            {{#each die.results as |result id|}}
            <li data-dieId="{{dieId}}"
                class="roll die d{{die.faces}} {{#if result.discarded}}discarded{{/if}} {{#if (eq result.result 1)}}min{{/if}} {{#if (eq result.result die.faces)}}max{{/if}}">
              {{result.result}}
            </li>
            {{/each}}
            {{/each}}
          </ol>
          <a class="reroll" data-tooltip="FABULAULTIMA.Reroll.Button"><i class="fa-solid fa-repeat"></i></a>
        </div>
      </section>
      {{/if}}
    </div>

    {{#if damage}}
    <h3>{{localize "FABULAULTIMA.Damage"}}</h3>
    <h4 class="damage dice-total {{damageType}}">
      <span data-bonus="{{damageBonus}}">{{damage}}</span> {{damageTypeLoc}}
    </h4>

    <div class="dice-tooltip" style="display: none;">
      <section class="tooltip-part">
          <ol class="dice-rolls">
            {{#with damageFormula}}
            <li data-dieId="highroll"
                class="roll die d{{die.faces}} {{#if (eq die.total 1)}}min{{/if}} {{#if (eq die.total faces)}}max{{/if}}">
              {{die.total}}
            </li>
            {{#each bonuses as |bonus id|}}
            {{#if bonus.damageBonus}}
            <li class="roll bonus">+</li>
            <li class="roll bonus" data-tooltip="{{bonus.name}}">{{bonus.damageBonus}}</li>
            {{/if}}
            {{/each}}
            {{/with}}
          </ol>
      </section>
    </div>
    {{/if}}
  </div>
</div>