<div class="spell-card" data-actor-id="{{actor._id}}" data-item-id="{{#if overrideId}}{{overrideId}}{{else}}{{spell._id}}{{/if}}"
    {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    
    <header class="card-header flexrow">
        <img src="{{spell.img}}" title="{{spell.name}}" width="36" height="36" />
        <br>
        <h3 class="item-name">{{#if prename}}{{prename}}: {{/if}}{{spell.name}}{{#if postname}}: {{postname}}{{/if}}</h3>
    </header>

    <div class="card-info">
      <div class="flexrow">
        <label style="font-weight: bold;">{{localize "FABULAULTIMA.Cost"}}</label>
        {{spell.system.mp}}
      </div>
      <div class="flexrow">
        <label style="font-weight: bold;">{{localize "FABULAULTIMA.Target"}}</label>
        {{spell.system.target}}
      </div>
      <div class="flexrow">
        <label style="font-weight: bold;">{{localize "FABULAULTIMA.Duration"}}</label>
        {{spell.system.duration}}
      </div>
    </div>

    <div class="card-content">
        {{{spell.system.description}}}
    </div>

    {{#if formula}}
    {{> "systems/fabulaultima/templates/chat/parts/diceroll.html"}}
    {{/if}}
</div>